#a5,#b5,#c5,#d5,#e5,#f5,#g5,#h5,#i5,#j5{
      display: flex;
      position: relative;
      
      margin-left: 5px;
      margin: 5px 5px 5px 5px;

}
.button1,.button2,.button3,.button4,.button5,.button6,.button7,.button8,.button9,.button10,.button11,.button12,.button13,.button14,.button15,.button16,.button17,.button18,.button19,.button20{
      text-decoration: none;
}
.button21,.button22,.button23,.button24,.button25,.button26,.button27,.button28,.button29,.button30,.button31,.button32,.button33,.button34,.button35,.button36,.button37,.button38,.button39,.button40{
      text-decoration: none;
}
.bbtn39{
        position: relative;
        left: 265px;
}
.bbtn38{
      position: relative;
      left: 200px;
}
.bbtn37{
      position: relative;
      left: 145px;
}
.bbtn36{
      position: relative;
      left: 40px;
}
.bbtn35{
      position: relative;
      left: 285px;
}
.bbtn34{
      position: relative;
      left: 220px;
}
.bbtn33{
      position: relative;
      left: 135px;
}
.bbtn32{
      position: relative;
      left: 60px;
}
.bbtn31{
      position: relative;
      left: 285px;
}
.bbtn30{
      position: relative;
      left: 190px;
}
.bbtn29{
      position: relative;
      left: 120px;
}
.bbtn28{
      position: relative;
      left: 35px;
}
.bbtn27{
      position: relative;
      left: 285px;
}
.bbtn26{
      position: relative;
      left: 190px;
}
.bbtn25{
      position: relative;
      left: 110px;
}
.bbtn24{
      position: relative;
      left: 60px;
}
.bbtn23{
      position: relative;
      left: 280px;
}
.bbtn22{
      position: relative;
      left: 200px;
}
.bbtn21{
      position: relative;
      left: 120px;
      top: -10px;
}
.bbtn20{
      position: relative;
      left: 37px;
}
.bbtn19{
      position: relative;
      left: 270px;
}
.bbtn18{
      position: relative;
      left: 180px;
}
.bbtn17{
         position: relative;
         left: 125px;
}
.bbtn16{
      position: relative;
      left: 40px;
}
.bbtn15{
      position: relative;
      left: 270px;
}
.bbtn14{
      position: relative;
      left: 260px;
}
.bbtn13{
      position: relative;
      left: 180px;
}
.bbtn12{
      position: relative;
      left: 60px;
}
.bbtn{
      position: relative;
      left: 60px;
}
.bbtn1{
      position: relative;
      left: 150px;
}
.bbtn2{
      position: relative;
      left: 250px;
}
.bbtn3{
      position: relative;
      left: 300px;
}
.bbtn4{
      position: relative;
      left: 60px;
}
.bbtn5{
      position: relative;
      left: 180px;
}
.bbtn6{
      position: relative;
      left: 220px;
}
.bbtn7{
      position: relative;
      left: 300px;
}
.bbtn8{
      position: relative;
      left: 60px;
}
.bbtn9{
      position: relative;
      left: 180px;
}
.bbtn10{
      position: relative;
      left: 250px;
}
.bbtn11{
      position: relative;
      left: 300px;
}
